<html>
    <h1>Hello Admin</h1>
    <form method='POST' action = '/modifyNumberRooms'>
        <input type ='submit' name = 'modifyNumberRooms' id = 'modifyNumberRooms' value = 'Modify available rooms'>
    </form>
    <br>
    <form method='POST' action = '/modifyPrices'>
        <input type ='submit' name = 'modifyNumberRooms' id = 'modifyPrices' value = 'Modify Room Prices'>
    </form>
    <br>
    <form method='POST' action = '/checkUsers'>
        <input type ='submit' name = 'submitSignup' id = 'checkUsers' value = 'Check Users and their reservations'>
    </form>

    <br>
        {{update}}


</html>