<p><html>
<body>
<form method='POST' action = '/checkAllReservations'> 
<label for='checkusers'>Users :</label>
 <select name='users' id='users'>
<option value='awh15@mail.aub.edu'>awh15@mail.aub.edu</option>
<option value='mks46@mail.aub.edu'>mks46@mail.aub.edu</option>
<option value='obk01@mail.aub.edu'>obk01@mail.aub.edu</option>
<option value='omarazakir@gmail.com'>omarazakir@gmail.com</option>
<option value='sas106@mail.aub.edu'>sas106@mail.aub.edu</option>
<option value='sharafeddinesharaf@gmail.com'>sharafeddinesharaf@gmail.com</option>
<input type='submit' name='submitemail' id = 'checkreservations' value ='check all reservations'>
</select>
</form>
</body>
</html></p>