<p><html>
<body>
<form method='POST' action = '/checkAllReservations'> 
<label for='checkusers'>Users :</label>
 <select name='users' id='users'>
<option value='obk01@mail.aub.edu'>obk01@mail.aub.edu</option>
<option value='okandil21@gmail.com'>okandil21@gmail.com</option>
<option value='sabineelbaba2003@gmail.com'>sabineelbaba2003@gmail.com</option>
<option value='sze07@aub.edu.lb'>sze07@aub.edu.lb</option>
<input type='submit' name='submitemail' id = 'checkreservations' value ='check all reservations'>
</select>
</form>
</body>
</html></p>