<p><html>
 <body>
 <form method='POST' action = '/modifyReservation'> 
<label for='modifyrooms'>Pick a reservation:</label>
 <select name='modifyroom' id='cars'>
<optgroup label='single rooms'>
<option value=singleroom1'>'2022-11-25 to 2022-11-26</option>
<option value=singleroom8'>'2022-12-01 to 2022-12-03</option>
<option value=singleroom12'>'2022-11-24 to 2022-11-25</option>
<option value=singleroom13'>'2022-12-09 to 2022-12-10</option>
</optgroup><optgroup label='double rooms'>
<option value=doubleroom5'>'2022-11-29 to 2022-11-30</option>
</optgroup><optgroup label='suite for 1'>
<option value=suiteforOne2'>'2022-11-24 to 2022-11-26</option>
<option value=suiteforOne3'>'2022-11-29 to 2022-11-30</option>
</optgroup></select>
<input type='submit' name='submitSignup' id = 'modify' value ='modify'>
<input type='submit' name='submitSignup' id = 'cancel' value ='Cancel Reservation'>
</form>
</body>
</html></p></p>