<p><html>
 <body>
 <form method='POST' action = '/modifyReservation'> 
<label for='modifyrooms'>Pick a reservation:</label>
 <select name='modifyroom' id='cars'>
<optgroup label='double rooms'>
<option value='doubleroom7'>2022-12-06 to 2022-12-10</option>
</optgroup><optgroup label='suite for 1'>
<option value='suitefor11'>2022-11-24 to 2022-11-26</option>
<option value='suitefor14'>2023-01-01 to 2023-01-02</option>
</optgroup></select>
<input type='submit' name='submitSignup' id = 'modify' value ='modify'>
<input type='submit' name='submitSignup' id = 'cancel' value ='Cancel Reservation'>
<input type ='submit' name = 'submitSignup' id = 'getInvoice' value = 'Get Invoice'>
</form>
</body>
</html></p></p>