<p><html>
 <body>
 <form method='POST' action = '/modifyReservation'> 
<label for='modifyrooms'>Pick a reservation:</label>
 <select name='modifyroom' id='cars'>
<optgroup label='single rooms'>
<option value=singleroom7'>'2022-11-12 to 2022-11-14</option>
</optgroup><optgroup label='double rooms'>
<option value=doubleroom5'>'2022-12-01 to 2022-12-02</option>
<option value=doubleroom7'>'2022-11-23 to 2022-12-08</option>
</optgroup><optgroup label='suite for 1'>
<option value=suiteforOne4'>'2022-11-18 to 2022-11-20</option>
</optgroup><optgroup label='double suite'>
<option value=doublesuite2'>'2022-11-18 to 2022-11-30</option>
</optgroup></select>
<input type='submit' name='submitSignup' id = 'modify' value ='modify'>
<input type='submit' name='submitSignup' id = 'cancel' value ='Cancel Reservation'>
</form>
</body>
</html></p></p>