<html>
    <body>
        <form method="GET" action = "/goToSignup"> 
            <input type="submit" name="submitSignup" id = "submitSignup" value = "Signup">
        </form> 
        <form method="GET" action = "/goToLogin"> 
            <input type="submit" name="submitLogin" id = "submitLogin" value = "Login">
        </form> 
        <form method="GET" action = "/viewRooms"> 
            <input type="submit" name="viewRooms" id = "viewRooms" value = "View Rooms with Prices">
        </form> 
    </body>
   {{changePassSuccess}}
</html>