<!DOCTYPE html>
<html>
    <body>
        <form method = "post" action = "/changePassword">
        New Password <input type = "password" name = "newPassword" id = "newPassword"><br>
        Confirm New Password <input type = "password" name = "confirmNewPassword" id = "confirmNewPassword"><br>
        <input type="checkbox" onclick="myFunction()">Show Password
        <input type = "submit" name = "submit" id = "submit">
        </form>
        {{error_statement}}
        <script>
            function myFunction() {
                var x = document.getElementById("newPassword");
                var y = document.getElementById("confirmNewPassword");
                if (x.type === "password" && y.type == "password") {
                  x.type = "text";
                  y.type = "text";
                } else {
                  x.type = "password";
                  y.type = "password";
                }
              }          
        </script>
    </body>
</html>