<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href = "{{ url_for('static', filename='css/styles.css') }}">
    <style>
      .center{
          text-align: center;
          transform: translateY(+70%);

      }
  </style>
  </head>
    <body>
      <div class = "center">
        <form method = "post" action = "/changePassword">
          <div class="field field_v1">
            <label for="first-name" class="ha-screen-reader">New Password</label>
            <input name = "newPassword" type = "password" id="newPassword" class="field__input">
            <span class="field__label-wrap" aria-hidden="true">
              <span class="field__label">New Password </span>
            </span>
          </div>
          <br>
          <div class="field field_v1">
            <label for="first-name" class="ha-screen-reader">Confirm New Password</label>
            <input name = "confirmNewPassword" type = "password" id="confirmNewPassword" class="field__input">
            <span class="field__label-wrap" aria-hidden="true">
              <span class="field__label">Confirm New Password</span>
            </span>
          </div>
          <br>
          <div class="field field_v3">
            <p style="border-width:3px; border-style:solid; border-color:brown; background-color: bisque; padding: 1em;">
        <input type="checkbox" onclick="myFunction()">Show Password<br>
            </p><br>
            <br>
            <button class = "button-8" role = "button" type = "submit" name = "submit" id = "submit">Submit</button>
          </div>
        </form>
        {{error_statement}}
        <script>
            function myFunction() {
                var x = document.getElementById("newPassword");
                var y = document.getElementById("confirmNewPassword");
                if (x.type === "password" && y.type == "password") {
                  x.type = "text";
                  y.type = "text";
                } else {
                  x.type = "password";
                  y.type = "password";
                }
              }          
        </script>
        </div>
    </body>
</html>