<!DOCTYPE html>
<html>
<body>

    <form method="POST" action = "/loadReservationPage"> 
        Start Date: <input type="date" name = "startDate" id = "startDate"> <br><br>
        End Date: <input type="date" name = "endDate" id = "endDate" min = > <br><br>
        <input type="submit" name="loadReservationPage" id = "loadReservationPage" value = "Check Available Rooms"><br>
    </form> 

    <form method="POST" action = "/getPreviousReservations"> 
        <input type="submit" name="getPreviousReservations" id = "getPreviousReservations" value = "Get Previous Reservations"><br>
    </form> 

    <form method="POST" action = "/getCurrentReservations"> 
        <input type="submit" name="getCurrentReservations" id = "getCurrentReservations" value = "Check & Modify Current Reservations"><br>
    </form> 
    
    <form method="POST" action = "/getInvoice"> 
        <input type="submit" name="getInvoice" id = "getInvoice" value = "Get Invoice"><br>
    </form> 
    <form method="POST" action = "/viewProfile"> 
        <input type="submit" name="viewProfile" id = "viewProfile" value = "View Profile"><br>
    </form> 

</body>
{{error_statement}}
<script>
    var today = new Date();
    var dd = today.getDate();
    var mm = today.getMonth() + 1; 
    var yyyy = today.getFullYear();
    
    if (dd < 10) {
       dd = '0' + dd;
    }
    
    if (mm < 10) {
       mm = '0' + mm;
    } 
        
    today = yyyy + '-' + mm + '-' + dd;
    document.getElementById("startDate").setAttribute("min", today);
    document.getElementById("endDate").setAttribute("min",today)
</script>
</html>

