<html>
    <body>
        <h1> Available Rooms:</h1>
        <p> Single Room | Price per day: {{priceOfSingle}} $ | Number of Rooms: {{numOfSingle}}</p><br>
        <p> Double Room | Price per day: {{priceOfDouble}} $ | Number of Rooms: {{numOfDouble}}</p><br>
        <p> Suite For 1 | Price per day: {{priceOfSingleSuite}} $ | Number of Rooms: {{numOfSingleSuite}}</p><br>
        <p>Double Suite | Price per day: {{priceOfDoubleSuite}} $ | Number of Rooms: {{numOfDoubleSuite}}</p><br>
        
    <body>
<html>